<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ExamenAplicada</title>
        <link rel="stylesheet" href="../style.css" />
    </head>
    <body>
        <div class="container">
            <div class="sidebar">
                <div class="title-container">
                    <a href="#" class="sidebar-title normal">Dashboard</a>
                    <a href="#" class="sidebar-title responsive">D</a>
                </div>
                <nav class="sidebar-navigation">
                    <a class="sidebar-item" href="../index.html">
                        <img class="sidebar-item-image" src="../assets/icons/Tableau.svg" alt="Datos" />
                        <span class="sidebar-item-name">Tableau</span>
                    </a>
                    <a class="sidebar-item" href="#">
                        <img class="sidebar-item-image" src="../assets/icons/PowerBI.svg" alt="Datos" />
                        <span class="sidebar-item-name">Power BI</span>
                    </a>
                </nav>
            </div>
            <div class="main-content-container">
                <main class="main">
                    <iframe
                        title="Report Section"
                        width="100%"
                        height="100%"
                        src="https://app.powerbi.com/view?r=eyJrIjoiOTJlOTdlMmEtYjJlYS00ZDFkLTg5MzktYjlmN2I3M2JkZjFlIiwidCI6ImU3OTg0Y2FjLTI1NDMtNGY4OC04Zjk3LTk1MjQzMzVlNmJjNCIsImMiOjR9&pageName=ReportSection"
                        frameborder="0"
                        allowfullscreen="true"
                    ></iframe>
                </main>
            </div>
        </div>
    </body>
</html>
